.gameData, #game {
    display: flex;
    justify-content: center;
}

#game {
    margin-top: 50px;
}

.gameInfo {
    position: absolute;
    margin: 10px 50px;
    left: 0;
    top: 0;
    background: #adadad;
}

#bombsNumber .count {
    color: red;
}

#flagNumber .count {
    color: yellow;
}

#rating {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 50px;
    background: #bfb5fc;
    border: 1px solid black;
}

#rating > h2 {
    padding: 10px 15px;
    margin: 0;
    border-bottom: 1px solid black;
}

#play {
    width: 100%;
}

form > div {
    padding: 5px 0;
}

.gameInfo > div {
    padding: 10px 20px;
    border: 1px solid black;
}

.place {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    z-index: 1;
    border-radius: 20px;
    margin: 1px;
}

.cell:hover {
    cursor: pointer;
}

#sapper {
    display: flex;
    justify-content: center;
}

.item-1 {
    background-color: red;
}

.item-2 {
    background-color: blue;
}

.item-3 {
    background-color: yellow;
}

.item-4 {
    background-color: green;
}

.item-0 {
    animation: empty1 1s ease-out 1;
}

.item-13 {
    animation: empty1 1s ease-out 1;
}

.active {
    outline: 5px dashed black;
    z-index: 2;
    animation: pulseOutline 1s ease-in-out infinite alternate;
}

.disable {
    animation: error 0.4s linear 1;
}

table td {
    padding: 10px;
}

@keyframes pulseOutline {
    0% {
        outline-offset: -5px;
    }
    100% {
        outline-offset: 0;
    }
}

@keyframes empty1 {
    0% {
        z-index: 2;
    }
    100% {
        margin: 6px;
        width: 20px;
        height: 20px;
        background-color: black;
    }
}

@keyframes error {
    0% {
        z-index: 2;
    }
    100% {
        background-color: black;
    }
}